<form class="container-fluid col-sm-8 col-lg-4 shadow mt-3 rounded" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
 
    <h2 class="h2 text-center py-3">Registration Form</h2>
    <div class="form-group">
      <label class="form-label" for="name">Name:</label>
      <input class="form-control" id="name" formControlName="name" />
      <div *ngIf="name?.invalid && name?.touched">
        <small class="text-danger" *ngIf="name?.hasError('required')">*Name is required.</small>
      </div>
    </div>
  
    <div class="form-group">
      <label class="form-label" for="email">Email:</label>
      <input class="form-control" id="email" formControlName="email" />
      <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
        <small class="text-danger" *ngIf="email?.hasError('required')">*Email is required.</small>
        <small class="text-danger" *ngIf="email?.hasError('email')">*Invalid email format.</small>
      </div>
    </div>
  
    <div class="form-group">
      <label class="form-label" for="lastName">Last Name:</label>
      <input class="form-control" id="lastName" formControlName="lastName" />
      <div *ngIf="lastname?.invalid && lastname?.touched">
        <small class="text-danger" *ngIf="lastname?.hasError('required')">*Last Name is required.</small>
      </div>
    </div>
  
    <div class="form-group">
      <label class="form-label" for="mobile">Mobile Number:</label>
      <input class="form-control" id="mobile" formControlName="mobile" />
      <div *ngIf="mobile?.invalid && mobile?.touched">
        <small class="text-danger" *ngIf="mobile?.hasError('required')">*Mobile number is required.</small>
        <small class="text-danger" *ngIf="mobile?.hasError('pattern')">*Mobile number must be numeric.</small>
      </div>
    </div>

    <div class="form-group">
        <label class="form-label" for="username">Username:</label>
        <input class="form-control" id="username" formControlName="username" />
        <div *ngIf="registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched">
          <small class="text-danger" *ngIf="username?.hasError('required')">*Username is required.</small>
          <small class="text-danger" *ngIf="username?.hasError('email')">*Invalid email format.</small>
        </div>
      </div>
    
      <div class="form-group">
        <label class="form-label" for="password">Password:</label>
        <input class="form-control" type="password" id="password" formControlName="password" />
        <div *ngIf="password?.invalid && password?.touched">
          <small class="text-danger" *ngIf="password?.hasError('required')">*Password is required.</small>
          <small class="text-danger" *ngIf="password?.hasError('strongPassword') && !password?.hasError('required')">*Password must be at least 8 characters long and include uppercase, lowercase, numeric, and special characters.</small>
        </div>
      </div>
    <div class="my-3 pb-3 d-grid">
      <button class="btn btn-primary" type="submit" [disabled]="registrationForm.invalid">Register</button>
    </div>
</form>