

    <div class="container-fluid border mt-3">
        <p class="mt-3">1. How to create reactive forms?</p>
        <p>Answer: To create reactive forms in angular, first you need to import the 'ReactiveFormsModule'. Next, generate a new component, use the 'FormBuilder' service to create a 'FormGroup'. Define the form controls and their validators. In the component's HTML template, use the formGroup directive to bind the form and the formControlName directive to link each input field to its corresponding form control.</p>
        <hr>

        <p>2. How to add built-in validation for email in reactive form?</p>
        <p>Answer: To add built-in validation for email, import the 'Validators' function. Specify the email control in the form group with the 'Validators.email' validator alongside 'Validators.required'.</p>
        <hr>

        <p>3. How to add built-in validation for required fields in reactive form?</p>
        <p>Answer: To add built-in validation for required fields, add 'Validators.required' in the form control.</p>
        <hr>

        <p>4. How to add regex validation for reactive forms?</p>
        <p>Answer: To add regex validation for a reactive form in Angular, you can use the Validators.pattern method provided by Angular's Validators class. This allows you to define a custom regular expression that the input must match. First, ensure that you have imported the ReactiveFormsModule in your app module. In your component, when creating the FormGroup using FormBuilder, you can specify the form control with the Validators.pattern validator.</p>
        <hr>

        <p>5. How to generate routing?</p>
        <p>Answer: To generate routing, import the your components you want to navigate in the app.routes.ts file. Then define your routes in an array, specifying the path and the corresponding components for each route.</p>
        <hr>

        <p>6. How to configure routes with parameters?</p>
        <p>Answer: In the app.routes.ts file, you can define routes that include parameters by using a colon followed by the parameter name in the path.</p>
        <hr>

        <p>7. What is DebounceTime in RxJS?</p>
        <p>Answer: DebounceTime is an operator in RxJS that is used to control the rate at which events are emitted from an observable.</p>
        <hr>

        <p>8. What is pipe operator?</p>
        <p>Answer: pipe operator is a powerful and essential feature that allows you to compose multiple operators together to transform, filter, or manipulate the data emitted by an observable.</p>
        <hr>

        <p>9. What is distinctUnitChanged operator?</p>
        <p>Answer: The distinctUnitChanged operator in RxJS is used to filter out consecutive duplicate values emmitted by an observable.</p>
        <hr>

        <p>10. What is filter operator in RxJS?</p>
        <p>Answer: The filter operator in RxJS is a powerful tool used to selectively emit values from an observable based on a specified condition.</p>
    </div>

